@page "/"

@inject SupabaseService SupabaseService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private ISupabaseClient<User, Session, RealtimeSocket, RealtimeChannel, Bucket, FileObject> _supabaseClient;

    protected override async Task OnInitializedAsync()
    {
        _supabaseClient = await SupabaseService.GetClientAsync();
    }
}